include *.txt
include *.py
include *.md
recursive-include pypayd *.py
recursive-include pypayd *.txt
recursive-include test *.py
recursive-include test *.png
recursive-include test *.json
recursive-include test *.txt
